@model IEnumerable<OneSignalWebApiv1.Entities.CustomSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREATEDDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREATEDTIME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATEDDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATEDTIME)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GUID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GUID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GUID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
