@model IEnumerable<OneSignalWebApiv1.Entities.StudentHomeworkMV>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homework)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homework.HomeworkTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                <a href="/StudentHomeworkMVs/Delete/@item.StudentId/@item.HomeworkId">DELETE</a>
            </td>
        </tr>
}
    </tbody>
</table>
